* {
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.app {
  background-color: #eaeaea;
  border-radius: 0.25rem;
  margin: 2rem auto;
  padding: 2rem 4rem;
  max-width: 50%;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input,
textarea,
button {
  display: block;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 100%;
}
