* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #1e1e1e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.inputSizePassword {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
